!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title Sample Deployment
      :css
        body {
          color: #ffffff;
          background-color: #007f3f;
          font-family: Arial, sans-serif;
          font-size: 14px;
        }
        
        h1 {
          font-size: 500%;
          font-weight: normal;
          margin-bottom: 0;
        }
        
        h2 {
          font-size: 200%;
          font-weight: normal;
          margin-bottom: 0;
        }
    %body
    %div{:align => "center"}
      %h1 Congratulations!
      %h2 You have successfully deployed your code.
      %p
        M-C DevOps platform - Cronus Release.
      %p
        _________________________________
      %p
        Historical releases:
        2019-02-25T13:25:00
      %p
        Demeter Release -- Jun 27, 2018
        · Simple but fully automated CICD pipeline
      %p
        Cronus Release -- Jun 24, 2018
        · Infrastructure is provisioned using templates, meaning that VPC, subnets, route table, EC2, ASG, ALB, as well as user data and instance profile are all defined by templates,
        · Included Chat tools such as Slack and DingTalk for global and China local markets respectively.
      %p
        Briseis Release -- Jun 22, 2018
      %p
        Athiva Release -- Jun 17, 2018
